.custom-dropzone{
  min-height: 230px;
  border: 2px dashed $gray-400;
  background: $card-bg;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > i {
    color: $gray-400;
  }

  &:hover{
    border: 2px dashed $cyan;
    cursor: pointer;
    & > i {
      color: $cyan;
    }
  }
}

.no-mb{
  margin-bottom: 0 !important;
}

.custom-button-group{
  margin: 25% 0 0 35%;
  @media screen and (max-width: 500px) {
    margin: 10% 0 0 35%;
  }
}

.noti-icon .badge {
  left: 23px;
}
.mt-2 {
  margin-top: 20px !important;
}

.dataTables_filter,
.dataTables_paginate {
  float: right;
}

.rdw-editor-main {
  border: 1px solid #eeeef5;
  height: 239px;
}
.dz-message {
  text-align: center;
  padding: 100px;
}
.fcYNFc {
  background-color: #ffffff !important;
}
.task-box {
  border: 1px solid #e1e1e6;
}
.react-datepicker-wrapper {
  width: 100% !important;
}

.ReactModal__Overlay {
  z-index: 1001 !important;
}

.fc-event .fc-content {
  padding: 5px;
  color: #fff;
}
.chat-conversation .right .conversation-list {
  margin-right: 15px;
}

.external-event {
  &:hover {
    cursor: pointer;
  }
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #7cb342 !important;
}

.center-child{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-child{
  display: flex;
  justify-content: flex-start;
}

.right-child{
  display: flex;
  justify-content: flex-end;
}

.space-between-child{
  display: flex;
  justify-content: space-between;
  color: #1e2125;
}

$custom-success: #52c41a;
$custom-info: #1890ff;
$custom-warn: #faad14;
$custom-error: #ff4d4f;

.Toastify__toast--success{
  background-color: #f6ffed !important;
  border: 1px solid #b7eb8f;
  color: $custom-success;
  font-size: 1.2rem;
}

.Toastify__toast--error{
  background-color: #fff2f0 !important;
  border: 1px solid #ffccc7;
  color: $custom-error;
  font-size: 1.2rem;
}

.Toastify__toast--info{
  background-color: #e6f7ff !important;
  border: 1px solid #91d5ff;
  color: $custom-info;
  font-size: 1.2rem;
}

.Toastify__toast--warning{
  background-color: #fffbe6 !important;
  border: 1px solid #ffe58f;
  color: $custom-warn;
  font-size: 1.2rem;
}

.Toastify__progress-bar--error {
  background-color: $custom-error !important;
}

.Toastify__progress-bar--info {
  background-color: $custom-info !important;
}

.Toastify__progress-bar--success {
  background-color: $custom-success !important;
}

.Toastify__progress-bar--warn {
  background-color: $custom-warn !important;
}

.cpt-0{
  padding-top: 0 !important;
}

.cell-padding-top{
  padding-top: 18px !important;
}

.product-img-sm{
  width: 240px;
}

.custom-modal-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}

.size-price-delete-btn{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}