@mixin transform($transform...) {
  -webkit-transform: $transform; /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: $transform; /* IE 9 */
  transform: $transform; /* Firefox 16+, IE 10+, Opera */
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation-name($animation-name...) {
  -webkit-animation-name: $animation-name;
  animation-name: $animation-name;
}

@mixin animation-delay($animation-delay...) {
  -webkit-animation-delay: $animation-delay;
  animation-delay: $animation-delay;
}

@mixin animation-duration($animation-duration...) {
  -webkit-animation-duration: $animation-duration;
  animation-duration: $animation-duration;
}

@mixin animation-iteration-count($animation-iteration-count...) {
  -webkit-animation-iteration-count: $animation-iteration-count;
  animation-iteration-count: $animation-iteration-count;
}

@mixin animation-timing-function($animation-timing-function...) {
  -webkit-animation-timing-function: $animation-timing-function;
  animation-timing-function: $animation-timing-function;
}

@mixin animation-delay($animation-delay...) {
  -webkit-animation-delay: $animation-delay;
  animation-delay: $animation-delay;
}