@import "./mixin";

/* Absolute Center scaleDot */
.app-loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* Transparent Overlay */
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  /* :not(:required) hides these rules from IE9 and below */
  &:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    border: 0;
    text-shadow: none;
    background-color: transparent;
  }

  &:not(:required) {
    .loading-content {
      width: 200px;
      text-align: center;
      @include transform(translate(-50%, 0));
    }
    span {
      display: inline-block;
      margin: 0 2px;
      padding: 6px;
      background: #ff0000;
      border-radius: 100%;


      @include animation-name(scaleDot);
      @include animation-duration(1500ms);
      @include animation-iteration-count(infinite);
      @include animation-timing-function(linear);

      &:nth-child(1) {
        background-color: #5bbbe0;
      }
      &:nth-child(2) {
        background-color: #26afe4;
        @include animation-delay(.2s);
      }
      &:nth-child(3) {
        background-color: #0074a0;
        @include animation-delay(.4s);
      }
      &:nth-child(4) {
        background-color: #b90000;
        @include animation-delay(.6s);
      }
      &:nth-child(5) {
        background-color: #ff3d3d;
        @include animation-delay(.8s);
      }
    }
  }
}

/* Animation */
@include keyframes(scaleDot) {
  0% {
    @include transform(scale(1));
    opacity: 1;
  }
  40% {
    @include transform(scale(2.5));
    opacity: .3;
  }
  60% {
    @include transform(scale(1));
    opacity: 1;
  }
}
